body {
    display: flex;
    background-color: lightcoral;
    font-size: 24px;
    font-family: sans-serif;
}

.userCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 200px 700px;
    position: fixed;
    background-color: #ECECEC;
    padding: 0px 20px;
}

.userInfoContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 350px;
}




img{
    margin: -50px;
    border-radius: 50%;
    width: 100px;
}

h2 {
    margin-top: 50px;
}

.manipulatingWithPassword {
    display: flex;
    width: 400px;
    font-size: 0.8em;
    justify-content: space-between;

}

a{
    color: gray;
}

#submit{
    width: 320px;
    background-color: #70C5C0;
    border: 1px solid rgb(71, 84, 102);
}
